.titulo_hide{
    display: none;
}
.navegacion{
    font-family: "Open Sans", sans-serif;
}
.navegacion ul li a{
    text-decoration: none;
}

.navegacion ul li a:hover{
    color: rgba(254,175,0,.8);
}
a:hover{
    text-decoration: none;
}
.busca_titulo{
    color: black;
    font-weight: bold;
}
.titulo_avaluo{
    color: white;
}
.main {
	padding-bottom: 80px;
}
.main a{
    color: #555;
}
.main a:link{
    text-decoration: none;
}
.titulo_servicios{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin:20px 0px;
    color: rgba(254,175,0,.8);
}
.titulo_quienes{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin:20px 0px;
    color: rgba(254,175,0,.8);
}
.contexto{
    text-align: center;
    display: none;
}
.contexto h4{
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .contexto{
        display: block;
        padding: 20px 5px;
        margin: 20px 0px;
    }
    .contexto h4{
        font-size: 14px;
    }
    .main{
        display: none;
    }
}